%p
  = link_to 'Add a new puzzle', new_admin_puzzle_path
  or alter some of the existing ones:

-# FIXME: probably should use the same partial as puzzle index
%table
  %tr
    %th name
    %th description
    %th solutions
    %th comments
    %th
  - @puzzles.each do |puzzle|
    %tr
      %td.puzzle-name= link_to puzzle.name, puzzle_path(puzzle)
      %td.puzzle-desc= puzzle.short_description
      %td= puzzle.solution_count
      %td= puzzle.comments.size
      %td
        = link_to 'edit', edit_admin_puzzle_path(puzzle)
        |
        = link_to 'delete', admin_puzzle_path(puzzle), confirm: 'Are you sure you wish to delete this puzzle?', method: 'DELETE'
