!!! 5
%html
  %head
    -# FIXME: make the title meaningful rather than a debugging helper
    %title
      PN
      = signed_in? ? current_user.admin? ? 'admin' : 'auth’d' : 'anon'
    = stylesheet_link_tag 'screen.css', media: 'screen, projection'
    = stylesheet_link_tag 'print.css',  media: 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', media: 'screen, projection'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %header
      %h1 PuzzleNode
      %ul#flash
        - flash.each do |_, message|
          %li= message
    %nav
      %p#login
        - if signed_in?
          = link_to 'log out', logout_path
          = current_user.name
        - else
          log in via
          = link_to 'GitHub', '/auth/github'
          or
          = link_to 'Twitter', '/auth/twitter'
      %ul
        %li= link_to_unless_current 'welcome', root_path
        %li= link_to_unless_current 'puzzles', puzzles_path

    #content
      = yield

    %footer
      %p
        an
        %a{href: 'http://educationreimagined.com'} Education Reimagined
        project
