!!! 5
%html
  %head
    %title
      PuzzleNode
      = current_user.admin? ? 'admin' : 'auth’d' if signed_in?
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %header
      %h1 PuzzleNode
    %nav
      %p#login
        - if signed_in?
          = link_to 'log out', logout_path
          = current_user.name
        - else
          log in via
          = link_to 'GitHub', '/auth/github'
          or
          = link_to 'Twitter', '/auth/twitter'
      %ul
        %li= link_to_unless_current 'welcome', root_path
        %li= link_to_unless_current 'puzzles', puzzles_path

    = yield
