-# FIXME: probably should be done with a partial
- leads = ['Choose wisely from the below list of puzzles to solve:', 'Previously solved by you:']
- @puzzles.partition { |p| p.solved_by? current_user }.reverse.zip(leads).each do |puzzles, lead|
  - unless puzzles.empty?
    %p= lead
    %table
      %tr
        %th name
        %th description
        %th solutions
        %th comments
      - puzzles.each do |puzzle|
        %tr
          %td.puzzle-name= link_to puzzle.name, puzzle_path(puzzle)
          %td.puzzle-desc= puzzle.short_description
          %td= puzzle.solution_count
          %td= puzzle.comments.size
